html {
  height: 100%;
  background-image: url('./background.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

body {
  background-color: transparent;
}

.quote {
  height: 200px;
  color: rgba(217, 237, 247, 0.75);
  font-size: 30px;
  font-family: helvetica;
  padding: 35px;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.25)
}

#header {
  font-family: helvetica;
  font-weight: normal;
  font-size: 100px;
  color: rgba(251, 228, 255, 0);
  padding-top: 150px;
  -webkit-text-stroke: 2px #8e8890;
}

.btn-primary-outline {
  color: rgba(217, 237, 247, 0.45);
  font-size: 24px;
  background-color: transparent;
  border-color: #ccc;
  margin: 20px
}

.btn-primary-outline:hover {
  color: rgba(217, 237, 247, 0.85);
  box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}

.form-control {
  height: 200px;
  background-color: transparent;
  color: rgba(217, 237, 247, 0.85);
  font-size: 24px;
  border: none;
  text-align: center;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.25)
}